* {
	font-size: 14px;
	font-family: Jetbrains Mono;
}

window#waybar {
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
    color: @theme_text_color;
}

#custom-seperator{
    color: @theme_text_color;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#tray {
	background: @theme_base_color;
}
#clock.1,
#clock.2,
#clock.3{
	border-bottom: 2px solid @theme_text_color ;
	color: @theme_text_color;
}

#mode {
	background-color: #e0af68;
	color: @theme_base_color;
	padding: 0 2px;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button,
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: @theme_base_color;
	color: @theme_fg_color;
	padding: 0 2px;
}
#workspaces button:hover {
	border: 1px solid @borders;
}
#workspaces button.focused {
	box-shadow: inherit;
	text-shadow: inherit;
	border-bottom: 2px solid @theme_selected_bg_color;
	background: @theme_selected_bg_color;
	color: @theme_fg_color;
	padding: 0 2px;
}

#workspaces button.urgent{
	background-color: @error_color;
	color: @theme_fg_color;
}

#pulseaudio {
	color: #268bd2;
}

#memory {
	color: #2aa198;
}

#cpu {
	color: #6c71c4;
}

#battery {
	color: #859900;
}

#battery.charging.done{
	background-color: @success_color;
	color: @theme_fg_color;
}

@keyframes blink{
    from {
	background: @theme_base_color;
	color: #859900;
    }
    to {
	background-color: @error_color;
	color: @theme_fg_color;
    }
}

#battery.discharging.critical{
	animation-name: blink;
	animation-duration: 0.60s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#disk {
	color: #b58900;
}

#backlight{
	color: #e0af68;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#tray,
#battery,
#backlight,
#disk {
	padding: 0 10px;
	/*color: @theme_bg_color;*/
}
